#navbar {
  font-family: Biryani;
  overflow: hidden;
  position: sticky;
  top: 0;
  background-color: #4e8050;
  width: 100%;
  display: flex;
  justify-content: center;
}

a.link-tab {
  float: left;
  color: #f2f2f2;
  padding: 2vw 3vw;
  font-size: 1.5vw;
  text-decoration: none;
  background-size: 100% 200%;
  background-image: linear-gradient(to top, #b95353 50%, #4e8050 50%);
  transition: background-position 0.4s;
}

a.link-tab.active {
  border-bottom: 1vh solid #b95353;
}

#navbar a:hover {
  background-position: 0 100%;
}

@media only screen and (max-width: 768px) {
  #navbar {
    display: block;
    position: relative;
  }

  .link-tab {
    text-align: center !important;
    display: grid !important;
    place-items: center !important;

    font-size: 3vw !important;
    padding: 3vw 0 !important;

    border-bottom: none !important;
    background-size: 100% 100% !important;
    background-image: none !important;
  }

  a.link-tab {
    width: 100% !important;
    transition-duration: 0.2s;
  }

  a.link-tab.active {
    background-color: indianred;
  }
}
