#credits {
  width: 100%;
  background-color: #a44a4a;
  font-size: 1vw;
  text-align: center;
  justify-content: center;
}

@media only screen and (max-width: 768px) {
  #credits {
    font-size: 2vw;
  }
}
