.a-tab {
  font-family: Biryani;
  margin: 0;
  padding: 1vh 4vw;
  display: block;

  color: black;
  background-color: #b1d8b5;
}

.text-area {
  margin: 10vh 10vw;
}

.text-area li {
  background-color: #b1d8b5;
}

h1 {
  font-size: 2.5vw;
}

h2 {
  font-size: 1.7vw;
}

h3 {
  font-size: 1.3vw;
}

p {
  font-family: Oxygen, Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.5vw;
}

ul {
  font-size: 1.5vw;
}

li {
  font-family: Oxygen, Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: black;
}
