#credits-bar {
  max-width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #a44a4a;
  padding: 2vh 30vw;
  position: relative;
}

#credits {
  font-size: 1vw;
  /* position: relative; */
  margin-top: 10vh;
  /* padding: auto 0; */
  text-align: center;
  justify-content: center;
  position: absolute;
}
