#credits-bar {
  max-width: 100vw;
  background-color: #a44a4a;
  display: grid;
  place-items: center;
  grid-template: 1fr 1fr;
  padding: 2vh auto;
  overflow: auto;
}

#credits {
  width: 100%;
  background-color: #a44a4a;
  font-size: 1vw;
  text-align: center;
  justify-content: center;
}
