/* Based off of and modified from https://codepen.io/nxworld/pen/OyRrGy */

section {
  position: relative;
}

#down-arrow a:hover {
  opacity: 0.4;
}

#down-arrow a {
  margin-top: 10vh;
  padding-top: 60px;
  display: inline-block;
  transform: translate(0, -50%);
  color: #fff;
  letter-spacing: 0.1em;
  text-decoration: none;
  transition: opacity 0.3s;
}

#down-arrow a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  transform: rotate(-45deg);
  animation: scrolldownbutton 2s infinite;
}

#down-arrow a span:nth-of-type(1) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

#down-arrow a span:nth-of-type(2) {
  top: 16px;
  -webkit-animation-delay: 0.15s;
  animation-delay: 0.15s;
}

@keyframes scrolldownbutton {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
