#color-background {
  background-color: rgba(2, 75, 48, 0.6);
  max-width: 100%;
  width: 100vw;
  height: auto;
}

#landing {
  text-align: center;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  margin-top: 0;
  background: url("../../assets/images/landscapeportrait2center.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 100%;
  max-height: 100vh;
}

.description-background {
  background-color: rgba(2, 75, 48, 0.6);
}

#greeting-text {
  font-size: 7vh;
  position: static;
  margin-top: 10vh;
  padding: 17vh 5vh;
  padding-bottom: 0vh;
  margin-bottom: 0;
}

#my-description {
  font-size: 4vh;
  position: relative;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 2vh;
}

.very-cool-red-hover-effect {
  display: inline;
  transition-duration: 300ms;
}

.very-cool-red-hover-effect:hover {
  color: #cd5c5c;
}

/* ICON BAR */
#icon-bar {
  overflow: hidden;
  list-style-type: none;
  text-align: center;
  display: flex;
  justify-content: center;
  position: relative;
  background: transparent;
}

.icon-button {
  background-color: #ffffff;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 50%;
  width: 100%;
  padding-bottom: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 0vw;
  width: 6vw;
  height: 6vw;
  transition-duration: 0.2s;
  margin: 1vh 1vw;
}

.icon-button img {
  /* display: block; */
  width: 40%;
  height: 40%;
  object-fit: cover;
}

.icon-button:hover {
  background-color: #b95353;
}

/* DOWN SCROLL ARROW BUTTON */
section {
  position: relative;
  display: flex;
}

#down-arrow div:hover {
  opacity: 0.6;
  cursor: pointer;
}

#down-arrow div {
  margin-top: 5vh;
  padding-top: 60px;
  color: #fff;
  letter-spacing: 0.1em;
  text-decoration: none;
  transition: opacity 0.3s;
}

#down-arrow div span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 40px;
  height: 40px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  transform: rotate(-45deg);
  animation: scrolldownbutton 2s infinite;
}

#down-arrow div span:nth-of-type(1) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

#down-arrow div span:nth-of-type(2) {
  top: 16px;
  -webkit-animation-delay: 0.15s;
  animation-delay: 0.15s;
}

@keyframes scrolldownbutton {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
