.a-tab {
  margin: 0;
  padding: 1vh 4vw;
  /* height: auto; */
  position: relative;
  display: block;

  color: black;
  background-color: #b1d8b5;
}

.text-area {
  margin: 10vh 10vw;
}

h1 {
  font-size: 2.5rem;
  /* margin-top: 1vh; */
}

h2 {
  font-size: 1.7rem;
}

h3 {
  margin-top: -1vh;
}

p {
  font-size: 1.5rem;
}

ul {
  font-size: 1.5rem;
}

li {
  color: black;
}
