#navbar {
  overflow: hidden;
  position: sticky;
  top: 0;
  list-style-type: none;
  background-color: #4e8050;
  width: 100%;
  display: flex;
  justify-content: center;
}

#navbar a {
  float: left;
  color: #f2f2f2;
  /* Change padding for more space in navbar */
  padding: 2vw 3vw;
  font-size: 1.5vw;
  text-decoration: none;
  background-size: 100% 200%;
  background-image: linear-gradient(to top, #b95353 50%, #4e8050 50%);
  /* background-image: linear-gradient(to top, #845c83 50%, #4e8050 50%); */
  transition: background-position 0.4s;
  border-bottom: 5px solid #b95353;
}

#navbar a:hover {
  background-position: 0 100%;
}
