img.small-button {
  height: 2.5vw;
  margin-left: 0.5vw;
  -webkit-filter: invert(100%) sepia(0%) saturate(3972%) hue-rotate(129deg)
    brightness(119%) contrast(111%);
  filter: invert(100%) sepia(0%) saturate(3972%) hue-rotate(129deg)
    brightness(119%) contrast(111%);
}
